body{background-color: gray;}
h1{text-align: center;
    color: white;}
p{color: white;
    font-size: 40px;}
li{color: white;
    font-size: 20px;}
ul{color: white;
    font-size: 20px;}
img{size: 20px;
    height: 250px;
    width: 450px;
    border-radius: 10px;}
#kép{float: right; }   
